body {
  margin:0;
  padding: 0;
  background-image: url(./img/basictile.png);
  background-repeat: repeat;
  color: #1E1E1F;
  font-family: VT323;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
